<h1 class="page-header">Home</h1>

<h4>List of HIs:</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>From</th>
      <th>To</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hi of his">
      <td>{{ hi.email }}</td>
      <td>{{ hi.from }}</td>
      <td>{{ hi.to }}</td>
      <td>{{ hi.date | date:'medium' }}</td>
    </tr>
  </tbody>
</table>

<h4>Say hi to:</h4>
<table>
  <tr *ngFor="let user of users">
    <td>
      <form (submit)="sayHi(user.username)">
        <input type="submit" class="btn btn-primary" value="{{ user.username }}" />
      </form>
    </td>
  </tr>
</table>
