<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email address</label>
    <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty),
      'has-success': !form.controls.email.errors && form.controls.email.dirty}">
      <input type="email" name="email" formControlName="email" class="form-control" id="email" placeholder="Email">
    </div>
    <ul class="help-block">
      <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
    </ul>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" formControlName="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="confirm">Confirm Password</label>
    <input type="password" name="confirm" formControlName="confirm" class="form-control" id="confirm" placeholder="Confirm password">
    <ul class="help-block">
      <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Passwords do not match</li>
    </ul>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" formControlName="username" class="form-control" id="username" placeholder="Username">
  </div>
  <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Register</button>
</form>
