<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" formControlName="username" class="form-control" id="username" placeholder="Username">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" formControlName="password" class="form-control" id="password" placeholder="Password">
  </div>
  
  <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Login</button>
</form>